a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
body{
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
header {
    max-height: 100px;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 1200px;
    background-color: #fff;
    display: flex;
    max-height: 80px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}   
.nav {
    display: flex;
    align-items: center;
}
.nav__search {
    margin: 24px 25px 24px 24px;
    border-right:solid #EEEEEE;
    border-width: 20px 1px;
    padding-right: 24px;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    padding-right: 26px;   
}
.nav__linc{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #808080;
    font-size: 14px;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo__img {
    max-width: 412px;
    width: 100%;
    height: 58px;
    margin-top: 3px;  
}
.number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.number__wrapper{
    max-width: 339px;
    width: 100%;
    height: 42px;
}
.number__img {
    margin-right: 13px;
}
.number__pfone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.numder__coll {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #808080;
    font-size: 12px;
    line-height: 15px;
    margin-top: 6px;
}
.numder__tel{
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 7px;
}
.subheader{
    display: block;
    padding-top: 81px;
    max-height: 40px;
    margin: 0 auto;
    max-width: 610px;
    width: 100%;
 
}
.subheader__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;  
}
.subheader__item{
    margin-top: 12px;
}
.subheader__linc{
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color:#000;
}
.subheader__linc2{
    margin-left: -4px;
}
.descr{
    background: url('../img/Bitmap.jpg') center center/cover no-repeat;
    height: 540px;
    margin-top: 20px;
}
.descr__img{
    display: none;
}
.container.inner{
    overflow:hidden;
}
.info__inner,
.info__inner__mobile{
    box-sizing: border-box;
    width: 1175px;
    height: 499px;
    border: 10px solid #ffffff;
    margin: 17px 10px;
}

.info,
.info__mobile {
    max-width: 392px;
    max-height: 412px;
    padding: 36px 42px 61px;
}
.info__heading {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #000000;
}
.info__text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 16px;
}
.info__wrapper {
    display: flex;
    margin-top: 24px;
}
.info__upper {
    border-right: 2px solid #eeeeee ;
    margin-right: 27px;
    margin-left: -1px;
}
.info__upper__heading {
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    max-width: 193px;
    margin-top: 5px;
}
.info__descr {
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 11px;
}
.info__upper .info__descr{
    max-width: 120px;
}
.info__multi .info__descr{
    max-width: 156px;
}
.info__multi__heading {
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    max-width: 130px;
    margin-top: 5px;
    }
.info__last {
    display: flex;
}
.info__btn {
    display: inline-block;
    width: 204px;
    height: 40px;
    background-color: #ea2828;
    margin-top: 40px;
    margin-left: 2px;
}
.info__btn a{
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 45px;
}
.info__more {
    display: flex;
}
.info__more__descr {
    margin-top: 47px;
    margin-left: 47px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.info__more__arrow {
    margin-top: 51px;
    margin-left: 24px;
}
.content,
.content__mobile {
    display: flex;
    margin: 89px 101px 0;
    min-height: 624px;
}
.content__mobile{
    display: none;
}
.energy,
.energy__mobile {
    max-width: 258px;
}
.energy__header {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 29px;
}
.energy__block1 {
    display: flex;
    margin-bottom: 81px;
}
.energy__block1__img {
    background-color: #fff;
    margin-right: 23px;
}
.sindle__header {
    color: #ee1c25;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 7px;
}
.single__descr {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.single__descr span{
    display: block;
    margin-bottom: 24px;
}
.single__descr2{
    margin-top: 16px;
}
.single__descr2 span{
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    margin-bottom: 24px;
}
.energy__block2 {
    display: flex;
}
.energy__block2__img {
    margin-right: 21px;
}
.safety,
.safety__mobile {
    max-width: 299px;
    margin: 61px 49px 0 39px;
}
.safety__header1{
    margin-left: 24px;
}
.safety__header2{
    margin: 0px 0px 16px 17px;
}
.safety__descr{
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 7px 0px 0px 24px;    
}
.safety__descr1{
    margin-left: 17px;
}
.safety__block1 {
    display: flex;
    margin-bottom: 57px;
}
.safety__block1__img {
    margin-top: 3px;
}
.safety__block2 {
    display: flex;
}
.safety__block2__img {
    margin-left: 5px;
}
.electrica {
    max-width: 297px;
    margin-left: 54px;
}
.electrica__header {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 23px;
}
.electrica__text {
    color: #000000;
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}
.electrica__text span{
    display: block;
    margin-bottom: 17px;
}
.electrica__subheader {
    display: flex;
}
.electrica__subheader__year {
    min-width: 165px;
    margin-bottom: 50px;
}
.electrica__single1,.electrica__single2{
    display: block;
    color: #ee1c25;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}
.electrica__single2{
    font-size: 18px;
}
.electrica__single1{
    font-size: 32px;
}
.electrica__single3{
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.electrica__link {
    display: flex;
}
.electrica__link__descr {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.electrica__link__arrow {
    margin: 2px 0 0 43px;
}
.request {
    max-width: 1080px;
    height: 560px;
    border: 10px solid #eeeeee;
    margin: 0 auto;
}
.request__inner{
    
    display: flex;
    justify-content: center;
}
.request__header {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    min-width: 360px;
    text-align: center;
    height: 48px;
    margin: -15px 0 4px 0;
    background-color: #fff;
}
.request__text {
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    max-width: 587px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.form {
    display: flex;
}
.input {
    min-width: 471px;
    margin-left: 40px;
}
.form__descr {
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.textarea,
.textarea__mobile {
    min-width: 470px;
    margin-left: 49px;
}
.form input, .form textarea{
    border: 2px solid #eeeeee;
    height: 53px;
    display: block;
    width: 100%;
}
.form input{
    margin-bottom: 16px;
}
.form textarea {
    height: 150px;
    resize: none;
}
.form input::placeholder,
.form textarea::placeholder{
    color: #eeeeee;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 0 0 14px;
}
.form__btn{
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: #ea2828;
}
.form__btn a{
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 53px;
}
.form__btn__inner{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.footer__line,
.footer__line2{
    max-width: 1000px;
    height: 1px;
    background-color: #eeeeee;
    margin-top: 85px;
    margin-left: 128px;
}
.footer {
    display: flex;
    margin-top: 52px;
}
.footer__col1 {
    width: 345px;
    margin: 0 50px 0 71px;
}
.footer__col1__inner {
    display: flex;
    margin-top: 10px;
}
.footer__col1__inner1 {
    margin:0 25px 0 56px;
}
.footer__col1__list1 {
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}
.footer__col1__item {
    margin-bottom: 9px;
}
.footer__col1__list2 {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.footer__col1__item2 {
    margin-bottom: 8px;
}
.footer__col1__social{
    display: none;
}
.footer__col2 {
    width: 200px;
    margin-left: 62px;
}
.footer__col2__descr {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 11px;
}
.footer__col2__list {
    margin-bottom: 10px;
}
.footer__col2__item {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.footer__col2__social__img {
    margin-right: 9px;
}
.footer__end__inner{
    display: flex;
    justify-content: center;
}
.footer__end{
    width: 250px;
    color: #808080;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 34px 0 30px 66px;
}
.footer__line2{
    margin-top: 37px;
}
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex; 
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
  .menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.burgermenu{
    display: none;
}
.menu__search{
    display: none;
}
.info__inner__mobile{
    display: none;
}
.textarea__mobile{
    display: none;
}







   




